<div class="user-posts-container">
    <% for(let i = 0; i < posts.length; i++) { %>
    <div class="user-post">
        <img class="user-post-preview-image" src="<%= basePath + posts[i].PostMedia[0].media_path %>" alt="">
        <div class="user-post-preview-footer">
            <div class="user-post-stats">
                <svg id="likeBtn" class="likeBtn" data-post-id="<%= posts[i].id %>" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.15961 25.4984L21.3154 37.8569C21.6398 38.1616 21.802 38.314 22 38.314C22.1981 38.314 22.3603 38.1616 22.6847 37.8569L35.8405 25.4984L35.8406 25.4983C36.1758 25.1834 36.3435 25.0259 36.4825 24.8833C39.5107 21.7751 39.8899 16.9486 37.3841 13.4057C37.2691 13.2431 37.1281 13.0613 36.846 12.6978L36.2789 11.9668C32.6705 7.31611 25.4277 8.09607 22.8923 13.4084C22.5341 14.1588 21.466 14.1588 21.1078 13.4084C18.5724 8.09607 11.3295 7.3161 7.72121 11.9668L7.15405 12.6978L7.15403 12.6979C6.87202 13.0613 6.73101 13.2431 6.61599 13.4057C4.11019 16.9486 4.48934 21.7751 7.51762 24.8833C7.65662 25.0259 7.82427 25.1834 8.15955 25.4984L8.15961 25.4984Z" stroke="white" stroke-width="2"/>
                    </svg>
                <p class="user-post-preview-likes"><%= posts[i].Likes.length %></p>   
                <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.33337 22C7.33337 16.7077 7.33337 14.0616 8.41156 12.062C9.24579 10.5148 10.5148 9.24579 12.062 8.41156C14.0616 7.33337 16.7077 7.33337 22 7.33337V7.33337C27.2923 7.33337 29.9385 7.33337 31.9381 8.41156C33.4853 9.24579 34.7543 10.5148 35.5885 12.062C36.6667 14.0616 36.6667 16.7077 36.6667 22V32.6667C36.6667 34.5523 36.6667 35.4951 36.0809 36.0809C35.4951 36.6667 34.5523 36.6667 32.6667 36.6667H22C16.7077 36.6667 14.0616 36.6667 12.062 35.5885C10.5148 34.7543 9.24579 33.4853 8.41156 31.9381C7.33337 29.9385 7.33337 27.2923 7.33337 22V22Z" stroke="white" stroke-width="2"/>
                    <path d="M16.5 20.1666L27.5 20.1666" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22 27.5H27.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                <p class="user-post-preview-comments"><%= posts[i].Comments.length %></p>
            </div>
            <div class="user-post-dots">
                <% for (let j = 0; j < posts[i].PostMedia.length; j++) {%>
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5" cy="5" r="5" fill="#F0F0F0"/>
                </svg> 
                <% } %>
            </div>                           
        </div>
    </div>
    <% } %>
</div>