<h2>Login</h2>
<form action="/users/login" method="POST">
    <div>
        <label>Email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <div>
        <button type="submit">Login</button>
        <a href="/users/register">Sign up</a>
    </div>
</form>